/* fonts */
@font-face {
    font-family: Poppins-SemiBold;
    src: url(./fonts/Poppins/Poppins-SemiBold.ttf);
  }
  @font-face {
    font-family: Inter;
    src: url(./fonts/Inter/static/Inter-Regular.ttf);
  }
  @font-face {
    font-family: Hind-Regular;
    src: url(./fonts/Hind/Hind-Regular.ttf);
  }
  @font-face {
    font-family: Hind-Bold;
    src: url(./fonts/Hind/Hind-Bold.ttf);
  }
  @font-face {
    font-family: Hind-Medium;
    src: url(./fonts/Hind/Hind-Medium.ttf);
  }
  
  .Poppins {
    font-family: Poppins-SemiBold;
  }
  .Inter {
    font-family: Inter;
  }
  .Hind-Bold {
    font-family: Hind-Bold;
  }
  .Hind-Regular {
    font-family: Hind-Regular;
    font-weight: 400;
  }
  .Hind-Medium {
    font-family: Hind-Medium;
  }
  .weight600 {
    font-weight: 600;
  }