.wrapper__Product-placeholder {
    border: 1px dotted black;
    border-radius: 12px;
    padding: 10px;
    height: 380px;
    flex-direction: column;
    justify-content: space-between;
    width: 325px;
    display: flex;
    flex-grow: 1;
    background: #c0c0c0;
    background: linear-gradient(90deg, #c0c0c0 25%, #e0e0e0 50%, #c0c0c0 75%);
    background-size: 200px 100%;
}
