/* fonts */
@font-face {
  font-family: Poppins-SemiBold;
  src: url(./fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Inter;
  src: url(./fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: Hind-Regular;
  src: url(./fonts/Hind/Hind-Regular.ttf);
}
@font-face {
  font-family: Hind-Bold;
  src: url(./fonts/Hind/Hind-Bold.ttf);
}
@font-face {
  font-family: Hind-Medium;
  src: url(./fonts/Hind/Hind-Medium.ttf);
}

.Poppins {
  font-family: Poppins-SemiBold;
}
.Inter {
  font-family: Inter;
}
.Hind-Bold {
  font-family: Hind-Bold;
}
.Hind-Regular {
  font-family: Hind-Regular;
  font-weight: 400;
}
.Hind-Medium {
  font-family: Hind-Medium;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: none;
  padding: 0px;
  cursor: pointer;
}

.button__Delete {
  padding: 5px;
}

body {
  padding: 25px;
}

article,
h1,
h2,
h3,
h4,
p,
section,
body,
main,
a {
  margin: 0px !important;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  height: 77px;
  opacity: 0.8;
}

.logo {
  font-size: 26px;
  font-family: Poppins-SemiBold;
}

.wrapper__Navbar {
  font-family: Inter;
  font-size: 24px;
  padding-right: 2vw;
  display: flex;
  justify-content: space-between;
}

.wrapper__Links {
  display: flex;
  margin-right: 1vw;
}

.dropdown__Account {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-family: Inter;
  font-size: 24px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 1000px;
  padding: 25px;
}

.wrapper__Main {
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 1800px;
  height: 768px;
  padding: 25px;
  gap: 25px;
}

.wrapper__Shop,
.wrapper__Cart {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
}

.header__Shop {
  padding: 10px;
  border: 1px solid black;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: bold;
  font-size: 18px;
}

.header__Cart {
  padding: 10px;
  border: 1px solid black;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: bold;
  font-size: 18px;
}

.content__Shop {
  flex: 15;
  padding: 15px;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  overflow: scroll;
}

.content__Cart {
  flex: 14;
  padding: 15px;
  overflow: scroll;
  flex-direction: column;
  gap: 15px;
}

.product__Thumbnail {
  float: left;
  width: 100px;
  height: 100px;
}

.wrapper__Grand__Total {
  background: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex: 1;
}

.wrapper__Product {
  border: 1px solid black;
  max-width: 300px;
  padding: 25px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wrapper__Manufacturer {
  border: 1px solid black;
  height: fit-content;
  flex-grow: 1;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.manufacturer__Header {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  gap: 5px;
}

.manufacturer__Products {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 0px;
}

.wrapper__Product__Cart {
  border: 1px solid black;
  display: flex;
  gap: 15px;
  margin-top: 10px;
  padding: 5px;
  justify-content: space-around;
}

.product__Cart__Data {
  border: 1px solid black;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

.product__Count {
  display: flex;
  align-items: center;
  gap: 10px;
}

.manufacturer__Total {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.wrapper__Grand__Total {
}

.footer {
  height: 220px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 80px;
  padding: 15px;
}

.wrapper__Footer__Item {
  width: 180px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 21px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

a:visited {
  opacity: 0.8;
}
a:hover {
  opacity: 0.6;
}
a:active {
  opacity: 1;
}

.button__Hamburger {
  display: none;
  border: none;
  background: none;
}
