/* fonts */
@font-face {
  font-family: Poppins-SemiBold;
  src: url(./fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Inter;
  src: url(./fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: Hind-Regular;
  src: url(./fonts/Hind/Hind-Regular.ttf);
}
@font-face {
  font-family: Hind-Bold;
  src: url(./fonts/Hind/Hind-Bold.ttf);
}
@font-face {
  font-family: Hind-Medium;
  src: url(./fonts/Hind/Hind-Medium.ttf);
}

.Poppins {
  font-family: Poppins-SemiBold;
}
.Inter {
  font-family: Inter;
}
.Hind-Bold {
  font-family: Hind-Bold;
}
.Hind-Regular {
  font-family: Hind-Regular;
  font-weight: 400;
}
.Hind-Medium {
  font-family: Hind-Medium;
}
.weight600 {
  font-weight: 600;
}
.separator-5 {
  margin: auto;
  min-width: 5vw;
}
.separator-3 {
  margin: auto;
  min-width: 3vw;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
  /* justify-content: space-around;
  justify-self: end; */
}

.column {
  flex-direction: column;
}

button {
  background: none;
  padding: 0px;
  cursor: pointer;
}

.button__Delete {
  padding: 5px;
}

.button__DisplayAddToCartButton {
  border: 3px solid black;
  align-self: start;
  padding: 5px;
}

body {
  padding: 25px;
}

article,
h1,
h2,
h3,
h4,
p,
section,
body,
main,
a {
  margin: 0px !important;
  padding: 0px !important;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  height: 77px;
  opacity: 0.8;
}

.logo {
  font-size: 26px;
  font-family: Poppins-SemiBold;
}

.wrapper__Navbar {
  font-family: Inter;
  font-size: 24px;
  padding-right: 2vw;
  display: flex;
  justify-content: space-between;
}

.wrapper__Links {
  display: flex;
  margin-right: 1vw;
}

.dropdown__Account {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-family: Inter;
  font-size: 24px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: fit-content;
  padding: 25px;
}

.wrapper__Main {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  height: 768px;

  gap: 25px;
}

.wrapper__Shop {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex: 9;
  align-self: stretch;
}

.wrapper__Cart {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex: 5;
  align-self: stretch;
}

.header__Shop {
  padding: 10px;
  /* border: 1px solid black; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: bold;
  font-size: 18px;
}

.header__Cart {
  padding: 10px;
  /* border: 1px solid black; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: bold;
  font-size: 18px;
}

.content__Shop {
  flex: 14;
  padding: 15px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  overflow-y: scroll;
}

.wrapper__Product {
  border: 1px dotted black;
  border-radius: 12px;
  min-width: 250px;
  padding: 10px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 350px;
}

.product__info {
  gap: 10px;
  align-items: center;
}

.product__Price {
  border: 1px solid black;
  font-weight: 600;
  font-size: 18px;
  align-self: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.product__Thumbnail {
  width: 150px;
  height: 150px;
  padding: 15px;
  align-self: center;
}

.product__Description {
  max-width: 250px;
  font-size: 18px;
  align-self: start;
}
.product__Controller {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  justify-self: end;
  align-content: center;
  align-self: normal;
}

.controller__CountButtons {
  display: flex;
  flex-direction: column;
}

.controller__Display {
  max-width: 50px;
  display: flex;
}

.content__Cart {
  flex: 14;
  padding: 15px;
  overflow-y: scroll;
  flex-direction: column;
  gap: 15px;
}

.wrapper__Grand__Total {
  background: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex: 1;
}

.grand__Total {
  width: 100px;
}
.button__AddToCart {
  justify-self: end;
  padding: 5px;
  align-self: stretch;
}
.counter__Buttons {
  display: flex;
  flex-direction: column;
}
.counter__Display {
  width: 35px;
  margin: 5px;
  font-size: 18px;
}

.counter__Product {
  padding: 5px;
}

.grand__Total {
  width: 80px;
  font-size: 18px;
}

.wrapper__Manufacturer {
  border: 1px solid black;
  border-radius: 12px;
  height: fit-content;
  flex-grow: 1;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.manufacturer__Header {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  gap: 5px;
}

.manufacturer__Products {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 0px;
}
.manufacturer__Total {
  display: flex;
  align-items: center;
}

.wrapper__Product__Cart {
  /* border: 1px solid black; */
  display: flex;
  gap: 15px;
  margin-top: 10px;
  padding: 5px;
  justify-content: space-around;
}

.product__Cart__Data {
  border: 1px solid black;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 25px;
}

.product__Checkbox {
  flex: 1;
}

.cart__Title {
  flex: 6;
}

.cart__Price {
  flex: 1;
}

.cart__Counter {
  flex: 2;
}
.cart__Delete {
  flex: 1;
}

.product__Count {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.product__Counter {
  display: flex;
  align-items: "center";
}

.manufacturer__Total {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  padding: 10px;
}

.total__Manufacturer {
  width: 50px;
}

.footer {
  height: 220px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 80px;
  padding: 15px;
}

.wrapper__Footer__Item {
  width: 180px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 21px;
}

.opaque {
  opacity: 0.8;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

a:visited {
  opacity: 0.8;
}
a:hover {
  opacity: 0.6;
}
a:active {
  opacity: 1;
}

.button__Hamburger {
  display: none;
  border: none;
  background: none;
}
